@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
  --main: #ffb142;
  --black: #151517;
  --red: #f5543f;
  --grey: #878c8d;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

*,
*::before,
*::after {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}
img {
  width: 100%;
  height: auto;
}

/* Common styles */

button {
  outline: 0;

  cursor: pointer;
}
.btn {
  height: 48px;
  display: inline-flex;
  border-radius: 24px;
  border: 2px solid var(--main);
  font-weight: 500;
  align-items: center;
  padding: 0 24px;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
  color: #fff;
}
.btn svg {
  margin-left: 5px;
  width: 7px;
}
.btn svg path {
  fill: #fff;
}
.btn:hover {
  background: var(--main);
}
