@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';
@import 'react-image-lightbox/style.css';
:root {
  --main: #ffb142;
  --black: #151517;
  --red: #f5543f;
  --grey: #878c8d;
  --grey-bg: #f6f6f6;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
  color: var(--black);
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

*,
*::before,
*::after {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}
img {
  width: 100%;
  height: auto;
}
.ReactModalPortal img {
  width: auto;
  height: auto;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.slick-arrow {
  z-index: 3;
  transform: scale(2);
}
.nav_container .slick-arrow {
  display: none !important;
}
.nav_container .slick-slide img {
  object-fit: cover;
  min-width: 100%;
  min-height: 100%;
}
.nav_container .slick-slider,
.nav_container .slick-slider div {
  height: 100%;
}
.slick-arrow::before {
  color: #fff;
  z-index: 4;
}
.slick-arrow::after {
  content: '';
  background: var(--grey);
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 2px;
  z-index: -1;
  position: absolute;
  top: 1px;
}
.slick-arrow.slick-next {
  right: 20px;
}
.slick-arrow.slick-prev {
  left: 20px;
}

/* Common styles */

button {
  outline: 0;
  cursor: pointer;
}
.btn {
  height: 48px;
  display: inline-flex;
  border-radius: 24px;
  border: 2px solid var(--main);
  font-weight: 600;
  align-items: center;
  padding: 0 24px;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
  color: #fff;
  font-size: 16px;
}
.btn svg {
  margin-left: 10px;
  width: 7px;
}
.btn svg path {
  fill: #fff;
}
.btn:hover {
  background: var(--main);
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-fill-color: var(--black);
  box-shadow: 0 0 0px 1000px transparent inset;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

input,
textarea {
  border: 0;
  width: 100%;
  padding: 6px 0;
  background: transparent;
  border-bottom: 1px solid var(--grey);
  outline: 0;
  font-size: 16px;
}
input::placeholder,
textarea::placeholder {
  transition: 0.3s;
  color: var(--grey);
  font-family: 'Montserrat', sans-serif;
}
input:focus::placeholder,
input:focus::-webkit-input-placeholder,
input:focus:-moz-placeholder,
input:focus::-moz-placeholder,
input:focus:-ms-input-placeholder,
textarea:focus::placeholder,
textarea:focus::-webkit-input-placeholder,
textarea:focus:-moz-placeholder,
textarea:focus::-moz-placeholder,
textarea:focus:-ms-input-placeholder {
  color: transparent;
}
textarea {
  resize: vertical;
  min-height: 50px;
}
